nav {
  .inlT{
    width: auto;
    padding: 0;
    margin: 0;
    float: left;
    padding: 0 10px;
    a{
      transition: color .3s ease;
      &:hover{
        color: #ea454b;
        transition: color .3s ease;
      }
    }
  }
  ul a:hover{
    background: transparent;
    color: #ea454b;
  }
  ul.side-nav {
    .redI{
      margin-right: 5px;
    }
    a{
      color: #fff;
    }
  }


  ul a.active, a:active{
    background: #000;
    transition: color .3s ease;
    &:hover{
      color: #fff;
    }
  }
}

.dropdown-content {
  min-width: 150px;
  margin-top: 64px;
  li.divider{
    color: #9e9e9e;
  }
  li>a{
    color: #fff;
  }
  li:hover{
    background: transparent;
  }
}

.sliderBlc{
  position: relative;
  overflow: hidden;
  .prevItemS, .nextItemS{
    width: 132px;
    background: url('../img/bgSld.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    background-position: top left;
    text-align: left;
    i{
      color: #fff;
      opacity: .7;
      font-size: 32px;
      margin: 20px;
      transition: color .3s ease;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  .nextItemS{
    background: url('../img/bgSld1.png') no-repeat;
    background-size: contain;
    left: auto;
    right: 0;
    background-position: top right;
    text-align: right;
  }
  .downClick{
    display: block;
    font-size: 32px;
    margin-top: 10px;
    color: #fff;
  }
  .carousel.carousel-slider .carousel-item h2{
    position: absolute;
    z-index: 400;
    width: 100%;
    top: 100px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
  }
}

.btnRed.btn{
  background: #ea454b;
  font-weight: normal;
  text-transform: none;
}

.row{
  margin-bottom: 0;
}

.container{
  padding-top: 35px;
  padding-bottom: 35px;
  h2{
    color: #ea454b;
    text-align: center;
    font-size: 32px;
    margin: 0 0 35px;
  }
  .btnRed.btn{
    margin: 35px 0 0;
  }
}

p{
  font-size: 14px;
  font-weight: 300;
}

.quoteIco{
  font-size: 28px;
}

.centerQuote p{
  font-size: 16px;
  font-weight: normal;
}

.card{
   .card-content .card-title{
     margin-top: 0;
     font-weight: normal;
     text-align: center;
     color: #ea454b;
     transition: color .3s ease;
     &:hover{
      color: #e57373 !important;
     }
   }

   .card-action a{
     color: #ea454b !important;
     &:hover{
       color: #e57373 !important;
     }
   }
}

.videoItem iframe{
  width: 100%;
  height: 315px;
  display: block;
}

.videoBlckPage .videoItem {
  margin: 0.5rem 0 1rem 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  iframe{
    height: 200px;
  }
}

.videoItemm+.videoItemm{
  margin: 15px 0 0;
}

.videoItemm iframe{
  height: 150px;
}

.greyBgImg{
  position: relative;
  &:before, &:after{
    content: '';
    background-image: url('../img/fonblack.png');
    width: 400px;
    height: 237px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:after{
    left: auto;
    right: 0;
    bottom: auto;
    top: 0;
    transform: rotate(180deg);
  }
}

.cardHover.card{
  position: relative;
  height: 300px;
  overflow: hidden;
  &:hover .cardHoverText{
    opacity: 1;
    cursor: zoom-in;
  }
  .cardHoverText{
    width: 100%;
    position: absolute;
    top: 0;
    height: 300px;
    background: rgba(0,0,0,.5);
    padding: 0 20px;
    opacity: 0;
    transition: opacity .3s ease;
    .cardDescr{
      max-height: 90px;
      overflow: hidden;
      p{
        font-weight: normal;
        margin: 0;
      }
    }
    .icoPlus{
      border: 2px solid #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 0 auto;
      position: absolute;
      bottom: 45px;
      right: 50%;
      margin-right: -15px;
      transition: all .3s ease;
      span{
        color: #fff;
        line-height: 28px;
        font-size: 24px;
        transition: color .3s ease;
      }
    }
  }
  .card-image .card-title{
    font-size: 24px;
    font-weight: normal;
    position: static;
    text-transform: uppercase;
  }
}

.bgDarkWind{
  background: rgba(0,0,0,.5);
  height: 580px;
  h2{
    color: #fff;
  }
  .itemplus{
    padding: 20px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    p{
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }
  }
}

.pagination{
  margin: 0;
  padding: 25px 0 0;
  li{
    a{
      color: #212121;
    }
    &.active{
      background-color: #ea454b;
    }
  }
}

.contLink:hover{
  color: #ea454b !important;
  cursor: pointer;
}

.contLink, .addr{
  display: block;
  color: #fff;
  font-size: 14px;
  transition: color .3s ease;
}

.contBlH{
  margin-left: 100px;
  float: left;
  font-size: 0;
  box-sizing: border-box;
  height: 64px;
}

footer.page-footer{
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  .footer-copyright{
    height: auto;
    background: #000;
    position: absolute;
    width: 100%;
    bottom: 0;
    .container{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &>.container{
    font-size: 0;
    padding: 50px 10px 100px;
  }

  .col+.col{
    border-left: 2px solid #ea454b;
    height: 42px;
  }

  .mailcol{
    padding-top: 10px;
  }

  &:before, &:after{
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
  }

  &:before{
    bottom: 50px;
  }
}

.parallax-container{
  height: 580px;
}

.textBlc .container{
  padding-left: 20px;
  padding-right: 20px;
  img.left{
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 100%;
  }
  a.contLink{
    color: #212121;
  }

  ul{
    li{
      color: #212121;
      font-size: 14px;
      font-weight: 300;
      &:before{
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #ea454b;
        vertical-align: middle;
        border-radius: 50%;
        margin: 0 5px;
        margin-right: 15px;
      }
    }
  }
}

.textBlcImgF{
  .container{
    padding-top: 0;
  }
  h2{
    margin-top: 35px;
  }
}

.redI{
  color: #ea454b !important;
  margin-right: 20px;
  font-size: 18px;
}

.imgTextCont{
  margin-left: -20px;
  margin-right: -20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  img{
    max-width: 100%;
    display: block;
  }
}

.navbar-fixed{
  z-index: 999;
}

.diznF{
  .btnRed.btn{
    margin-top: 0;
  }
  .input-field label{
    font-size: 14px;
  }
  input{
    height: 2.5rem;
    margin: 0 0 15px 0;
    .validate+label{
        font-size: 14px;
    }
    &:focus:not([readonly]){
      border-bottom: 1px solid #ea454b;
      box-shadow: 0 1px 0 0 #ea454b;
      &+label{
        color: #ea454b;
      }
    }
  }
  textarea.materialize-textarea{
    margin: 0 0 15px 0;
    &:focus:not([readonly]){
      border-bottom: 1px solid #ea454b;
      box-shadow: 0 1px 0 0 #ea454b;
      &+label{
        color: #ea454b;
      }
    }
  }
}

.socialIcoBlc{
  padding: 35px 20px;
  a i{
    font-size: 28px;
    padding: 10px;
    opacity: 1;
    transition: color .3s ease;
  }
  a:hover i{
    opacity: 0.7;
  }
}

.socialBg.greyBgImg:before, .socialBg.greyBgImg:after{
  width: 280px;
  height: 114px;
  background-size: cover;
}

.mapBlck{
  position: relative;
  .mapDesc{
    position: absolute;
    z-index: 500;
    top: 50px;
    left: calc(50% + 80px);
    background: rgba(0, 0, 0, 0.7);
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    p{
      color: #fff;
      font-weight: 600;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1024px){
  nav {
    .brand-logo{
      -webkit-transform: none;
      transform: none;
      left: 0;
    }

    ul a{
      padding: 0 10px;
    }

    .contBlH{
      margin-left: 70px;
    }
  }

  .inlT .contLink i{
    margin-right: 5px;
  }

  .cardHover.card{
    height: 200px;
    .card-image .card-title{
      font-size: 18px;
      padding: 5px;
    }
    .cardHoverText{
      height: 200px;
      .icoPlus{
        bottom: 15px;
      }
    }
  }

  .sliderBlc .prevItemS, .sliderBlc .nextItemS{
    display: none;
  }

  .bgDarkWind, .parallax-container{
    height: 500px;
  }

  .sliderBlc .downClick{
    display: none;
  }
}

@media screen and (max-width: 992px){
  nav {
    .brand-logo{
      -webkit-transform: none;
      transform: none;
      left: 0;
      padding: 0 15px;
    }
    .contBlH {
      margin-left: 0;
      float: right;
    }
  }

  .bgDarkWind, .parallax-container{
    height: 550px;
  }

  footer.page-footer .col + .col{
      border-left: 0;
  }

  nav .button-collapse{
    float: right;
    padding: 0 15px;
    margin: 0;
    i{
      color: #ea454b;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 600px){
  .videoItem{
    margin-bottom: 20px;
    iframe{
      height: 315px;
    }
  }

  .greyBgImg:after{
    top: -70px;
  }

  footer.page-footer:before{
    bottom: -20px;
  }

  .cardHover.card{
    height: 280px;
  }

  .mapBlck .mapDesc{
    top: 80%;
    width: calc(100% - 20px);
    left: 10px;
    max-width: none;
  }

  .socialBg.greyBgImg:before, .socialBg.greyBgImg:after,
  .carousel .btnRed,
  .vadeoInd.greyBgImg:before, .vadeoInd.greyBgImg:after{
    display: none;
  }

  .carousel .indicators .indicator-item{
    margin: 10px 4px;
  }

  .bgDarkWind .btnRed{
    margin-bottom: 35px;
  }
  .bgDarkWind, .parallax-container{
    height: auto;
  }
}
